<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="scan_topic" default="scan_raw"/>
  <arg name="map_topic" default="vo_map"/>
  <arg name="multiple" default="false"/>
  <arg name="tf_prefix" default=""/>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="$(arg scan_topic)"/>

    <!-- Load the last saved pose estimate (initial pose) -->
    <rosparam if="$(arg multiple)" file="$(env HOME)/.pal/$(arg tf_prefix)_pose.yaml" command="load"/>
    <rosparam unless="$(arg multiple)" file="$(env HOME)/.pal/pose.yaml" command="load"/>

    <rosparam file="$(find pal_navigation_cfg_tiago)/config/localization/amcl.yaml" command="load"/>
    <param if="$(arg multiple)" name="odom_frame_id" value="$(arg tf_prefix)/odom"/>
    <param if="$(arg multiple)" name="base_frame_id" value="$(arg tf_prefix)/base_footprint"/>
    <param if="$(arg multiple)" name="global_frame_id" value="$(arg tf_prefix)/map"/>
  </node>
</launch>
