<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="global_planner" default="global_planner"/>
  <arg name="local_planner"  default="pal"/>

  <arg name="odom"    default="mobile_base_controller/odom"/>
  <arg name="subtype" default=""/>
  <arg name="cmd_vel" default="nav_vel"/>


  <arg name="debug"      default="false"/>
  <arg name="launch_prefix" value="gdb -ex run --args"     if="$(arg debug)"/>
  <arg name="launch_prefix" value=""                   unless="$(arg debug)"/>

  <arg name="config_base_path" default="$(find pal_navigation_cfg_tiago)"/>

  <arg name="public_sim"   default="false"/>
  <arg name="rgbd_sensors"   default="false"/> <!-- do not enable with public_sim -->

  <arg name="sim_suffix" value="_public_sim"     if="$(arg public_sim)"/>
  <arg name="sim_suffix" value=""                unless="$(arg public_sim)"/>
  <arg name="rgbd_suffix" value="_rgbd" if="$(arg rgbd_sensors)"/>
  <arg name="rgbd_suffix" value=""      unless="$(arg rgbd_sensors)"/>

  <arg name="multiple" default="false"/>
  <arg name="tf_prefix" default=""/>
  <node pkg="move_base" type="move_base" name="move_base" clear_params="true" output="screen" respawn="true" launch-prefix="$(arg launch_prefix)">
    <remap from="odom"    to="$(arg odom)"/>
    <remap from="cmd_vel" to="$(arg cmd_vel)"/>

    <rosparam command="load" file="$(arg config_base_path)/config/base/common/move_base.yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/common/recovery_behaviors$(arg rgbd_suffix).yaml"/>
    
    <rosparam command="load" file="$(arg config_base_path)/config/base/common/global_costmap_plugins$(arg sim_suffix)$(arg rgbd_suffix).yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/common/global_costmap$(arg sim_suffix).yaml"/>
    
    <rosparam command="load" file="$(arg config_base_path)/config/base/common/local_costmap_plugins$(arg sim_suffix)$(arg rgbd_suffix).yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/common/local_costmap$(arg sim_suffix).yaml"/>

    <rosparam command="load" file="$(arg config_base_path)/config/base/global_planner/$(arg global_planner).yaml"/>
    <rosparam command="load" file="$(arg config_base_path)/config/base/$(arg local_planner)/local_planner.yaml"/>

    <param if="$(arg multiple)" name="global_costmap/global_frame" value="$(arg tf_prefix)/map"/>
    <param if="$(arg multiple)" name="global_costmap/robot_base_frame" value="$(arg tf_prefix)/base_footprint"/>
    <param if="$(arg multiple)" name="global_costmap/obstacle_laser_layer/base_scan/sensor_frame" value="$(arg tf_prefix)/base_laser_link"/>
    <param if="$(arg multiple)" name="global_costmap/obstacle_rgbd_layer/rgbd_scan/sensor_frame" value="$(arg tf_prefix)/base_footprint"/>
    <param if="$(arg multiple)" name="global_costmap/obstacle_sonar_layer/sonar_cloud/sensor_frame" value="$(arg tf_prefix)/base_link"/>
    <param if="$(arg multiple)" name="global_costmap/obstacle_sonar_layer/sonar_max_range_cloud/sensor_frame" value="$(arg tf_prefix)/base_link"/>
    <param if="$(arg multiple)" name="global_costmap/obstacle_vo_layer/vo_cloud/sensor_frame" value="$(arg tf_prefix)/base_link"/>

    <param if="$(arg multiple)" name="local_costmap/global_frame" value="$(arg tf_prefix)/odom"/>
    <param if="$(arg multiple)" name="local_costmap/robot_base_frame" value="$(arg tf_prefix)/base_footprint"/>
    <param if="$(arg multiple)" name="local_costmap/obstacle_laser_layer/base_scan/sensor_frame" value="$(arg tf_prefix)/base_laser_link"/>
    <param if="$(arg multiple)" name="local_costmap/obstacle_rgbd_layer/rgbd_scan/sensor_frame" value="$(arg tf_prefix)/base_footprint"/>
    <param if="$(arg multiple)" name="local_costmap/obstacle_sonar_layer/sonar_cloud/sensor_frame" value="$(arg tf_prefix)/base_link"/>
    <param if="$(arg multiple)" name="local_costmap/obstacle_sonar_layer/sonar_max_range_cloud/sensor_frame" value="$(arg tf_prefix)/base_link"/>
    <param if="$(arg multiple)" name="local_costmap/obstacle_vo_layer/vo_cloud/sensor_frame" value="$(arg tf_prefix)/base_link"/>

    <param if="$(arg multiple)" name="PalLocalPlanner/robot_namespace" value="$(arg tf_prefix)"/>
    <param if="$(arg multiple)" name="local_planner/laser_frame" value="$(arg tf_prefix)/base_laser_link"/>
    <param if="$(arg multiple)" name="local_planner/base_frame" value="$(arg tf_prefix)/base_link"/>
  </node>

  <arg name="debug_rgbd" default="false"/>
  <group if="$(arg debug_rgbd)">
    <node pkg="costmap_2d" type="costmap_2d_markers" name="costmap_2d_markers_global">
      <remap from="voxel_grid" to="move_base/global_costmap/obstacle_rgbd_layer/voxel_grid"/>
      <remap from="visualization_marker" to="voxel_grid_global_marker"/>
    </node>

    <node pkg="costmap_2d" type="costmap_2d_markers" name="costmap_2d_markers_local">
      <remap from="voxel_grid" to="move_base/local_costmap/obstacle_rgbd_layer/voxel_grid"/>
      <remap from="visualization_marker" to="voxel_grid_local_marker"/>
    </node>
  </group>

</launch>
