<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find human_aware_navigation)/config/mapping/
          -configuration_basename pmb2_cartographer_2d.lua"
      output="screen">
    <remap from="echoes" to="horizontal_laser_2d" />
  </node>
</launch>
